.header {
   background: linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
    color: white;
    padding: 100px 0;
    text-align: center;
   
   
  }
  
  .header-content {
    margin-top: 50px;
    font-size: 30px;
  }
  
  .header h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: "Mountains of Christmas", serif;
    font-weight: 900;
    font-size: 3.5rem;
  }
  