.projects-section {
    padding: 60px 0;
    background: linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
    color: #fff;
  }
  
  .projects-section h2 {
    margin-bottom: 40px;
    font-size: 3.5rem;
    font-family: "Mountains of Christmas", serif;
    font-weight: 900;
  }
  
  .project-card {
    margin-bottom: 30px;
    transition: transform 0.2s;
  }
  
  .project-card:hover {
    transform: translateY(-10px);
  }
  
  .project-card img {
    height: 200px;
    object-fit: cover;
  }

/* Projects.css */
.button-space {
  /* margin-right: 80px; */
  float: right;
}