/* src/components/Skills.css */
.skills-section {
    padding: 60px 0;
    background: linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
  }

  .skills-section h2{
    font-family: "Mountains of Christmas", serif;
    font-weight: 900;
    font-size: 3.5rem;
    color: white;
  }
  
  /* .skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  } */
  
  .skill-card:hover {
    transform: scale(1.05);
  }
  
  .skill-icon {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  